.packages {
  font-size: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 16px;

  @media (max-width: 768px) {
    gap: 12px;
  }

  &__package {
    background: var(--bg-color-md);
    border-radius: 16px;
    
    width: fit-content;
    height: fit-content;
    padding: 16px;
    gap: 6px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      // flex-grow: 1;
      align-items: start;
    }
  }

  &__label {
    border-bottom: solid 1px var(--text1-op-md);
    text-align: center;

    display: flex;
    align-items: end;
    gap: 0 8px;
    color: var(--text1-op-full);
  }

  &__title {
    font-family: var(--ff-3);
    font-size: 1.6em;
    color: var(--text1-op-full);
  }

  &__price {
    font-family: monospace;
    font-size: 1.4em;
    color: var(--text1-op-full);
  }

  &__subtitle {
    font-family: var(--ff-3);
    font-weight: 600;
    color: var(--text1-op-full);
  }

  &__text {
    font-family: var(--ff-3);
    color: var(--text1-op-md);
  }
}
